#!/bin/sh
# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit, this file will also be sourced.

# Set keyboard rate
xset r rate 300 50 &
xset s 3600 3600 &

# Start nvidia settings
type nvidia-settings >/dev/null && nvidia-settings --load-config-only &

# Set the screenlayout
# ~/.config/screenlayout/dual.sh

# Set the wallpaper
hsetroot -cover "$(cat "$XDG_STATE_HOME/wall")" &

# Mouse pointer
xsetroot -cursor_name left_ptr &

# Start polybar
"$HOME/.config/polybar/launch.sh" &

# Start sxhkd
sxhkd &

# Start compositor
picom --experimental-backends -b &

# Start notification server
dunst &

# Start usb mounting daemon
udiskie --smart --file-manager="$TERMINAL --working-directory" &

# Start network manager applet
nm-applet --appindicator &

# Start bluetooth applet
blueman-applet &

# Start clipboard manager
greenclip daemon &

# Start playerctl daemon
playerctld daemon &

# Hide mouse on idle
unclutter &
