@import "colors.scss";

$foreground: $base05;
$foreground-dim: $base03;
$foreground-light: $base07;
$background: $base00;
$background-light: $base01;

$accent: $base0B;
$urgent: $base08;

$radius: 4px;

@import "windows/tooltip.scss";
@import "windows/bar.scss";
@import "windows/calendar_popup.scss";
@import "windows/cpu_popup.scss";
