@import "./colors.scss";

$foreground: $base05;
$foreground-dim: $base03;
$foreground-light: $base07;
$background: $base00;
$background-light: $base01;

$accent: $base0B;
$urgent: $base08;

$radius: 4px;

button {
  all: unset;
}

slider {
  all: unset;
}

box {
  all: unset;
}

scale {
  all: unset;
}

progressbar {
  all: unset;
}

trough {
  all: unset;
}

progress {
  all: unset;
}

tooltip {
  all: unset;

  &.background {
    font-family: "Hack";
    background-color: $background-light;
    color: $foreground;
    border: 1px solid $foreground-dim;
    border-radius: $radius;
  }

  label {
    font-family: "Hack";
    color: $foreground;
  }
}

.systray menu {
  border-radius: $radius;
  border: 1px solid $foreground-dim;
}

window {
  all: unset;
  background: $background;
  color: $foreground;
  font-family: "Hack";
  font-size: 13px;
}

.bar {
  margin: 0 4px;
}

// icon size
.label {
  font-family: "Symbols Nerd Font";
  font-size: 16px;
  margin: 0 5px;
}

trough {
  background-color: $background-light;
  min-width: 64px;
  min-height: 6px;
  border-radius: 12px;

  &>progress,
  &>highlight {
    all: unset;
    background-color: $foreground-light;
    border-radius: 12px;
  }
}

// the volume icons have different widths so I set a min-width
.volume {
  .label {
    min-width: 1.5em;
  }

  & :hover {
    color: $foreground-light;
  }
}

progressbar>trough>progress {
  .cpu & {
    background-color: $base0B;
  }

  .gpu & {
    background-color: $base0C;
  }

  .ram & {
    background-color: $base0D;
  }
}

scale trough>highlight {
  .volume & {
    background-color: $base0A;
  }
}


.workspaces {
  button {
    margin: 0px 3px;
  }

  .occupied {
    color: $foreground;
  }

  .focused {
    color: $foreground;
  }

  .urgent {
    color: $urgent;
  }

  .empty {
    color: $foreground-dim;
  }
}

.notification {
  background-color: $background-light;
  border-radius: $radius;
  padding: 0 4px 0 2px;

  :hover {
    color: $foreground-light;
  }

}

.nordvpn :hover {
  color: $foreground-light;
}

.nordvpn-on .label {
  color: $accent;
}

.github .label {
  color: $base0E;
}

.updates .label {
  color: $base0E;
}

.temperature-hot .label {
  color: $urgent;
}


.calendar-popup {
  background-color: $background-light;
  border: 1px solid $foreground-dim;
  border-radius: $radius;
}

calendar {
  all: unset;
  padding: 2px 2px 2px 2px;
  margin-left: 10px;

  :selected {
    color: $accent;
  }

  :indeterminate {
    color: $foreground-dim;
  }

  .header {
    color: $foreground-light;
  }

  .button {
    color: $accent;
  }

  .highlight {
    color: $foreground-light;
  }
}

.cpu-popup {
  padding: 2px 2px 2px 2px;
  background-color: $background;
  border: 1px solid $foreground-dim;
  border-radius: $radius;
}

.cpu-core {
  background-color: $background-light;
  margin: 2px;
  padding: 2px;
  border-radius: $radius;

  circular-progress {
    color: $accent;
    background-color: $background;

    .cpu-core-label {
      color: $foreground;
      font-size: 16px;
    }
  }
}

.cpu-core-high {
  circular-progress {
    color: $urgent;
  }
}

.cpu-core-medium {
  circular-progress {
    color: $base09;
  }
}
