configuration {
    modi: "run,drun,calc,ssh,emoji,keys";
    show-icons: true;
    display-drun: "";
    display-run: "";
    display-calc: "";
    display-ssh: "󰢩";
    display-emoji: "";
    display-keys: "";
    display-window: "ﬓ";
}

@theme "center_minimal"
