color={{base00-hex}}
inside-color={{base01-hex}}
inside-clear-color={{base0B-hex}}
inside-ver-color={{base0C-hex}}
inside-wrong-color={{base08-hex}}
inside-caps-lock-color={{base09-hex}}

ring-color={{base0B-hex}}
ring-clear-color={{base0B-hex}}
ring-ver-color={{base0C-hex}}
ring-wrong-color={{base08-hex}}
ring-caps-lock-color={{base09-hex}}

line-color={{base00-hex}}
line-clear-color={{base00-hex}}
line-ver-color={{base00-hex}}
line-wrong-color={{base00-hex}}

text-color={{base00-hex}}
text-clear-color={{base00-hex}}
text-caps-lock-color={{base00-hex}}
text-ver-color={{base00-hex}}
text-wrong-color={{base00-hex}}

separator-color={{base00-hex}}

key-hl-color={{base0C-hex}}
bs-hl-color={{base0A-hex}}
